<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-12">
      <a th:href="@{/new}" class="btn btn-primary">新規作成</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm">
        <thead>
        <tr>
          <th>ID</th>
          <th>FROM</th>
          <th>TO</th>
          <th>SUBJECT</th>
          <th>SENT_DATE</th>
          <th>TEXT</th>
          <th>Version</th>
          <th>STATUS</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="mail : ${page}">
          <td th:text="${mail.id}" class="text-right"></td>
          <td th:text="${mail.from}"></td>
          <td th:text="${mail.to[0].address}"></td>
          <td th:text="${mail.subject}"></td>
          <td th:text="${mail.sentDate}"></td>
          <td><a th:href="@{/{id}/text(id=${mail.id})}" th:text="テキスト" target="_blank"></a></td>
          <td th:text="${mail.version}" class="text-right"></td>
          <td th:text="${mail.mailStatus.name()}"></td>
        </tr>
        </tbody>

      </table>
      <ul>
        <li th:if="${!page.first}"><a th:href="@{/(page=${page.number}-1)}"
                                      th:text="${page.number}"></a></li>
        <li th:text="${page.number}+1"></li>
        <li th:if="${!page.last}"><a th:href="@{/(page=${page.number}+1)}"
                                     th:text="${page.number}+2"></a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>